{% extends '../template/template.twig' %}
{% block content %}
{% for error in errors %}
            <div class="alert alert-danger col-md-12" role="alert">
                {{error}}
            </div>
{% endfor %}
<div class="container">
    <h1>Historical</h1>
  <div>
        {% for item in historical %}
            <div class="col-6">
                <a href="/movieDetails/{{item.idMovie}}">{{ item.movieName }}</a>
                {# <a href="http://localhost:8080/movieDetails/{{item.id}}"><img src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" alt="{{ item.title }}" height="300" width="200"></a>
                <h4>Note : {{ item.vote_average }}</h4>
                <h5>Date de sortie : {{ item.release_date }}</h5> #}
            </div>
        {% endfor %}
  </div>
</div>
{% endblock %}
