{% extends '../template/template.twig' %}
{% block content %}
{% for error in errors %}
            <div class="alert alert-danger col-md-12" role="alert">
                {{error.message}}
            </div>
{% endfor %}
<div class="container">
    <h1>{{movieName}}</h1>
    <img src="{{poster}}"/>
  <div>
      <h2>Description :</h2>
      <p>{{overview}}</p>
  </div>
  <div>
      <p>Note : {{vote_average}}</p>
      <br>
      <p>Date de réalisation : {{release_date}}</p>
      <p>Genres : 
        <span class="badge badge-dark">
            {% for genre in genres %}
                {{genre.name}}
            {% endfor %}
        </span>
      </p>
      <form action="" method="POST">
            <input name="price" type="hidden" id="price" value=12>
            <button class="btn btn-info btn-lg" type="submit">take a place</button>
        </form>
  </div>
</div>
{% endblock %}
